<section class="p-forge">
    <ng-container [ngSwitch]="viewState">
        <div *ngSwitchCase="'default'" class="p-forge__default">
            <div class="p-forge__card">
                <img
                    class="p-forge__card-image"
                    src="assets/images/section-gold--horses-forge.png"
                    alt="Forge foal"
                />
                <div class="p-forge__card-content">
                    <h2 class="p-forge__card-title">{{ 'PAGES.HORSES.FORGE.DEFAULT.TITLE' | translate }}</h2>
                    <p class="p-forge__card-subtitle">
                        {{ 'PAGES.HORSES.FORGE.DEFAULT.SUBTITLE' | translate }}
                    </p>
                    <button class="p-forge__card-button" (click)="onSummonFoal()">
                        {{ 'PAGES.HORSES.FORGE.DEFAULT.CTA' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'current'" class="p-forge__current">
            <div class="p-forge__row">
                <span class="p-forge__title">{{ 'PAGES.HORSES.FORGE.TITLE' | translate }}</span>
            </div>

            <div class="p-forge__row p-forge__row-to-column">
                <div class="p-forge__column p-forge__column--picture">
                    <div class="p-forge__name">
                        <span class="p-forge__name-field">{{ 'PAGES.HORSES.FORGE.NAME-FIELD' | translate }}:</span> {{ name }}
                    </div>
                    <div class="p-forge__color">
                        <span class="p-forge__color-field">{{ 'PAGES.HORSES.FORGE.COLOR-FIELD' | translate }}:</span> {{ color }}
                    </div>
                    <div class="p-forge__picture">
                        <img
                            [src]="getHorseImageUrl()"
                            class="p-forge__picture-image"
                        />
                    </div>
                    <div class="p-forge__lock">
                        <app-lock-switch
                            [(ngModel)]="lock_picture"
                            lockedText="{{ 'PAGES.HORSES.FORGE.PICTURE-LOCKED' | translate }}"
                            unlockedText="{{ 'PAGES.HORSES.FORGE.PICTURE-UNLOCKED' | translate }}"
                        ></app-lock-switch>
                    </div>
                </div>

                <div class="p-forge__column p-forge__column--stats" *ngIf="horseStats as stats">
                    <div class="p-forge__row p-forge__row--spread">
                        <span class="p-forge__subtitle">{{ 'PAGES.HORSES.FORGE.STATS' | translate }}</span>
                        <span class="p-forge__total-points">
                            {{ 'PAGES.HORSES.FORGE.TOTAL-POINTS' | translate }}: {{ totalPoints }}
                        </span>
                    </div>

                    <div class="p-forge__row p-forge__row--stats">
                        <app-stats class="p-forge__stats" [statspack]="stats"></app-stats>
                    </div>

                    <div class="p-forge__row p-forge__row--footer">
                        <div class="p-forge__lock">
                            <app-lock-switch
                                [(ngModel)]="lock_stats"
                                lockedText="{{ 'PAGES.HORSES.FORGE.STATS-LOCKED' | translate }}"
                                unlockedText="{{ 'PAGES.HORSES.FORGE.STATS-UNLOCKED' | translate }}"
                            ></app-lock-switch>
                        </div>
                        <div class="p-forge__buy-more">
                            <button class="p-forge__buy-more-btn" (click)="onBuyExtraPoints()">
                                {{ 'PAGES.HORSES.FORGE.BUY-MORE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-forge__row" *ngIf="horseshoes.length">
                <div class="p-forge__column">
                    <span class="p-forge__subtitle">{{ 'PAGES.HORSES.FORGE.HORSESHOES' | translate }}</span>
                    <div class="p-forge__horseshoes">
                        <app-horseshoe
                            class="p-forge__horseshoes-shoe"
                            *ngFor="let hs of horseshoes"
                            [statspack]="hs"
                        ></app-horseshoe>
                    </div>

                    <div class="p-forge__row p-forge__row--footer">
                        <div class="p-forge__lock">
                            <app-lock-switch
                                [(ngModel)]="lock_horseshoes"
                                lockedText="{{ 'PAGES.HORSES.FORGE.HORSESHOES-LOCKED' | translate }}"
                                unlockedText="{{ 'PAGES.HORSES.FORGE.HORSESHOES-UNLOCKED' | translate }}"
                            ></app-lock-switch>
                        </div>
                        <div class="p-forge__row p-forge__row--buttons">
                            <div class="p-forge__shuffle">
                                <button class="p-forge__shuffle-btn" (click)="onRandomizeFoal()">
                                    {{ 'PAGES.HORSES.FORGE.SHUFFLE' | translate }}
                                </button>
                            </div>
                            <div class="p-forge__forge">
                                <button class="p-forge__forge-btn" (click)="onClaimHorse()">
                                    {{ 'PAGES.HORSES.FORGE.FORGE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'success'" class="p-forge__success">
            <div class="p-forge__card">
                <img
                    class="p-forge__card-image"
                    src="assets/images/section-gold--horses-forge.png"
                    alt="Foal forged"
                />
                <div class="p-forge__card-content">
                    <h2 class="p-forge__card-title">{{ 'PAGES.HORSES.FORGE.SUCCESS.TITLE' | translate }}</h2>
                    <p class="p-forge__card-subtitle">
                        {{ 'PAGES.HORSES.FORGE.SUCCESS.SUBTITLE' | translate }}
                    </p>
                    <div class="p-forge__stats-card" *ngIf="claimedStats as stats">
                        <div class="p-forge__stats-header">
                            <span class="p-forge__total-points">
                                {{ 'PAGES.HORSES.FORGE.TOTAL-POINTS' | translate }}: {{ stats.total }}
                            </span>
                        </div>
                        <app-stats class="p-forge__stats" [statspack]="stats"></app-stats>
                    </div>
                    <div class="p-forge__horseshoes" *ngIf="claimedHorseshoes.length">
                        <app-horseshoe
                            class="p-forge__horseshoes-shoe"
                            *ngFor="let hs of claimedHorseshoes"
                            [statspack]="hs"
                        ></app-horseshoe>
                    </div>
                    <button class="p-forge__card-button" (click)="onDismissSuccess()">
                        {{ 'PAGES.HORSES.FORGE.SUCCESS.CTA' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <app-confirm-dialog
        [(nodel)]="summonConfirmVisible"
        [title]="'PAGES.HORSES.FORGE.DEFAULT.DIALOG.TITLE' | translate"
        [message]="'PAGES.HORSES.FORGE.DEFAULT.DIALOG.MESSAGE' | translate"
        [cancelText]="'PAGES.HORSES.FORGE.DEFAULT.DIALOG.CANCEL' | translate"
        [confirmText]="'PAGES.HORSES.FORGE.DEFAULT.DIALOG.CONFIRM' | translate"
        (cancel)="onCancelSummon()"
        (confirm)="onConfirmSummon()"
    ></app-confirm-dialog>
    <app-confirm-dialog
        [(nodel)]="claimConfirmVisible"
        [title]="'PAGES.HORSES.FORGE.CLAIM.DIALOG.TITLE' | translate"
        [message]="'PAGES.HORSES.FORGE.CLAIM.DIALOG.MESSAGE' | translate"
        [cancelText]="'PAGES.HORSES.FORGE.CLAIM.DIALOG.CANCEL' | translate"
        [confirmText]="'PAGES.HORSES.FORGE.CLAIM.DIALOG.CONFIRM' | translate"
        (cancel)="onCancelClaim()"
        (confirm)="onConfirmClaim()"
    ></app-confirm-dialog>
    <app-confirm-dialog
        [(nodel)]="buyExtraPointsConfirmVisible"
        [title]="'PAGES.HORSES.FORGE.BUY-MORE-DIALOG.TITLE' | translate"
        [message]="'PAGES.HORSES.FORGE.BUY-MORE-DIALOG.MESSAGE' | translate"
        [cancelText]="'PAGES.HORSES.FORGE.BUY-MORE-DIALOG.CANCEL' | translate"
        [confirmText]="'PAGES.HORSES.FORGE.BUY-MORE-DIALOG.CONFIRM' | translate"
        (cancel)="onCancelBuyExtraPoints()"
        (confirm)="onConfirmBuyExtraPoints()"
    ></app-confirm-dialog>
</section>
