<section class="p-shop">
    <div class="p-shop__outlet">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div class="p-shop__landing" *ngIf="!outlet.isActivated">
        <app-section-button
            [imageSrc]="'assets/images/gold--section-shop-horseshoes.png'"
            [label]="('PAGES.SHOP.SHOES.NAME' | translate)"
            [link]="['/shop', 'horseshoes']"
        ></app-section-button>

        <app-section-button
            [imageSrc]="'assets/images/gold--section-shop-accessories.png'"
            [label]="('PAGES.SHOP.ACCESSORIES.NAME' | translate)"
            [link]="['/shop', 'accessories']"
        ></app-section-button>

        <app-section-button
            [imageSrc]="'assets/images/gold--section-shop-jockeys.png'"
            [label]="('PAGES.SHOP.JOCKEYS.NAME' | translate)"
            [link]="['/shop', 'jockeys']"
        ></app-section-button>
    </div>
</section>
