<div class="c-stats">
    <ng-container *ngFor="let stat of statspack.stats">
        <div *ngIf="stat.value !== 0" class="c-stats__row">
            <div class="c-stats__row-att">
                <div class="c-stats__row-att-tooltip"><i class="c-stats__row-att-tooltip-icon pi pi-info-circle"></i></div>
                <div class="c-stats__row-att-text">{{stat.display}}</div>
            </div>
            <div class="c-stats__row-value">
                <span>{{stat.value}} pts.</span>
                <p-progressbar [value]="percent(stat.value)">
                    <ng-template #content let-value></ng-template>
                </p-progressbar>
            </div>
        </div>
    </ng-container>
</div>
