<!-- Normal Navbar -->
<!-- [ngIf]="!isMobileView; else mobileNav" -->
<ng-container *ngIf="!isMobileView; else mobileNav">
    <nav class="c-navbar">
        <div class="c-navbar__row">
            <img class="c-navbar__logo" src="assets/images/gold-horse.png" routerLink="/" width="50px">

            <a class="c-navbar__button" routerLink="/fixture" routerLinkActive="active-link">{{ 'PAGES.FIXTURE.NAME' | translate }}</a>
            <a class="c-navbar__button" routerLink="/horses" routerLinkActive="active-link">{{ 'PAGES.HORSES.NAME' | translate }}</a>
            <a class="c-navbar__button" routerLink="/shop" routerLinkActive="active-link">{{ 'PAGES.SHOP.NAME' | translate }}</a>
            <a class="c-navbar__button" routerLink="/refuge" routerLinkActive="active-link">{{ 'PAGES.REFUGE.NAME' | translate }}</a>
        </div>

        <div class="c-navbar__row">

            <app-drop-down>
                <!-- Dropdown Button -->
                <lucide-icon dropdown-button
                    [img]="GlobeIcon"
                    class="c-navbar__icon"
                ></lucide-icon>

                <!-- Dropdown Body -->
                <div dropdown-body class="c-navbar__dropdown">
                    <a class="c-navbar__dropdown-option" (click)="setLang('en')">{{ 'PAGES.PREFERENCES.LANGUAGE.EN' | translate }}</a>
                    <a class="c-navbar__dropdown-option" (click)="setLang('es')">{{ 'PAGES.PREFERENCES.LANGUAGE.ES' | translate }}</a>
                </div>
            </app-drop-down>

            <app-login></app-login>
        </div>
    </nav>
</ng-container>

<!-- Mobile Navbar | whidth < 599px -->

<ng-template #mobileNav>
    <nav class="c-navbar">
        <div class="c-navbar__row c-navbar__row--mobile">
            <img src="assets/images/gold-horse.png" routerLink="/" width="40px">

            <app-login></app-login>

            <lucide-icon [img]="MenuIcon" class="c-navbar__icon c-navbar__icon--btn" (click)="toggleMobileSideMenu()"></lucide-icon>
        </div>
    </nav>
</ng-template>
<!-- -->
