@use 'mixin' as *;

app-home {
    @include page;
}

.p-home {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        width: 150px;
        height: auto;
    }

    &__title {
        @include text-title;
    }

    &__subtitle {
        @include text-subtitle;
    }

    &__on-telos {
        @include text-title;
        margin-top: 40px;
    }
}
