<app-side-container class="c-side-menu" id="mobile-side-menu" side="right">

    <p class="c-side-menu__header">Mobile side-menu head</p>

    <hr class="c-side-menu__separator">

    <a class="c-side-menu__option" routerLink="/fixture" routerLinkActive="active-link">
        <lucide-icon [img]="CalendarIcon"></lucide-icon>
        <p>{{ 'PAGES.FIXTURE.NAME' | translate }}</p>
    </a>
    <a class="c-side-menu__option" routerLink="/horses" routerLinkActive="active-link">
        <lucide-icon [img]="HorseIcon"></lucide-icon>
        <p>{{ 'PAGES.HORSES.NAME' | translate }}</p>
    </a>
    <a class="c-side-menu__option" routerLink="/shop" routerLinkActive="active-link">
        <lucide-icon [img]="ShoppingBagIcon"></lucide-icon>
        <p>{{ 'PAGES.SHOP.NAME' | translate }}</p>
    </a>
    <a class="c-side-menu__option" routerLink="/refuge" routerLinkActive="active-link">
        <lucide-icon [img]="HomeIcon"></lucide-icon>
        <p>{{ 'PAGES.REFUGE.NAME' | translate }}</p>
    </a>

</app-side-container>
